{% extends 'main/base.html' %}

{% block content %}
<div class="alert alert-danger fade show" role="alert">
  <header>
    <h3 class="page-header">
      <i class="fa-solid fa-xmark fa-beat"></i> {{ title }}
      <i class="fa-solid fa-xmark fa-beat"></i>
    </h3>
  </header>
  <div class="d-flex pt-5">
    <a class="btn m-auto" id="error-link" href="{{ request.META.HTTP_REFERER|escape }}">
      <p class="h5 mb-0">Вернуться на предыдущую страницу <i class="fa-solid fa-right-long"></i></p>
    </a>
  </div>
</div>
{% endblock content %}