{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#242c38">
    <meta name="description" content="Государственное бюджетное общеобразовательное учреждение средняя
      общеобразовательная школа №464 Пушкинского района Санкт-Петербурга">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/favicons/favicon.ico' %}">
    <title>Не удалось загрузить сайт</title>
</head>

<body style="color: white; background-color: #242c38; height: 100vh;">
    <div style="display: flex; justify-content: center; align-items: end; height: 50%; padding-bottom: 40px;">
        <img src="{% static 'main/img/logo.svg' %}" alt="Логотип школы" style="width: 200px" decoding="async"
            fetchpriority="high">
    </div>
    <div style="display: flex; justify-content: center; align-items: start">
        <div style="text-align: center; font-family: system-ui">
            <h3>Не удалось загрузить сайт</h3>
            <p style="margin: 0 2em; opacity: 0.6">Проверьте подключение к интернету и попробуйте ещё раз.</p>
        </div>
    </div>
    <script>
        window.addEventListener('online', () => location.reload());
    </script>
</body>

</html>