__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
dev/
test/
prod/
examples/
.DS_Store
.gitignore
.dockerignore
.env
.git
.github
.python-version
Dockerfile
docker-compose.*.yml
LICENSE
README.md
