{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- school name -->
<section class="school">
  <div class="school__container" id="school__headline">
    <h1 class="text-wrap text-center m-auto p-5">
      Государственное бюджетное общеобразовательное учреждение средняя
      общеобразовательная школа №464 Пушкинского района Санкт-Петербурга
    </h1>
  </div>
</section>

<!-- greeting -->
<section class="school">
  <div class="school__container" id="school__greeting">
    <div class="m-auto">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        Добро пожаловать на обновленный сайт школы №464!
      </h2>
      <p class="h4 p-5 m-auto">
        В нашей школе создано дружное сообщество, включающее учителей, учеников
        и их родителей. Наша главная цель - обеспечить безопасную, комфортную и
        уютную образовательную среду для наших детей.<br /><br />Мы постоянно
        стремимся к достижению высоких результатов в учебе, а также развитию и
        воспитанию учащихся навыков применения полученных знаний в реальной
        жизни.<br /><br />Мы уверены, что успех достижим только через
        взаимодействие учащихся, родителей, педагогов и администрации. Мы
        прилагаем усилия, чтобы найти индивидуальный подход к каждому ребенку.
        Не стесняйтесь обращаться и помните, что мы всегда рады вас видеть!
      </p>
      <div class="d-flex pt-5">
        <a class="btn m-auto school__button" href="/svedeniya-ob-obrazovatelnoj-organizacii/">
          <p class="h4 mb-0 text-black">Сведения об образовательной организации</p>
        </a>
      </div>
    </div>
  </div>

</section>

<!-- education -->
<section class="school">
  <div class="school__container" id="school__education">
    <div class="m-auto">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        <i class="fa-solid fa-book" style="color: #ffffff"></i> Образование
        <i class="fa-solid fa-book" style="color: #ffffff"></i>
      </h2>
      <p class="h4 p-5 m-auto">
        Школа осуществляет образовательный процесс в соответствии с уровнями
        общеобразовательных программ трех ступеней общего образования:<br /><br />Начальное
        общее образование (1-4 классы, нормативный срок освоения — 4 года);<br /><br />Основное
        общее образование (5-9 классы, нормативный срок освоения — 5 лет);<br /><br />Среднее
        общее образование (10-11 классы, нормативный срок освоения — 2 года).
      </p>
    </div>
  </div>
</section>

<!-- equipment -->
<section class="school">
  <div class="school__container" id="school__equipment">
    <div class="m-auto">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        <i class="fa-sharp fa-solid fa-laptop" style="color: #ffffff"></i>
        Материально-техническое обеспечение
        <i class="fa-sharp fa-solid fa-laptop" style="color: #ffffff"></i>
      </h2>
      <p class="h4 p-5 m-auto">
        В нашей школе создано все для комфортного образовательного процесса. Мы
        активно применяем цифровые технологии, чтобы обогатить учебный процесс и
        обеспечить учащимся современные возможности обучения. Во многих классах
        установлены проекторы, которые позволяют преподавателям создавать
        интерактивные уроки с использованием мультимедийных материалов.<br /><br />В
        школе работает библиотека с читальным залом. Общий фонд школьной
        библиотеки составляет 24801 экземпляр, из которых бо́льшую часть
        составляют книги. Книгообеспеченность составляет 27 книг на одного
        учащегося.<br /><br />
        На территории школы расположены две оборудованные спортивные площадки с
        искусственным покрытием. В зданиях 2 спортивных зала с раздевалками.<br /><br />Оба
        здания школы оборудованы столовыми: в старшей школе на 160 посадочных
        мест, а в младшей на 100. Столовые имеют всё необходимое оборудование,
        имеется буфет.
      </p>
    </div>
  </div>
</section>

<!-- news -->
<section class="school">
  <div class="school__container" id="school__news">
    <div class="m-auto">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        <i class="fa-solid fa-newspaper" style="color: #ffffff"></i> Лента
        новостей
        <i class="fa-solid fa-newspaper" style="color: #ffffff"></i>
      </h2>
      <p class="h4 p-5 m-auto text-center">
        Предлагаем вам ознакомиться с нашей новостной лентой
      </p>
      <div class="d-flex">
        <i class="fa-solid fa-down-long h1 m-auto"></i>
      </div>
      <div class="d-flex pt-5">
        <a class="btn m-auto school__button" href="/news/">
          <p class="h4 mb-0 text-black">Лента новостей</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- banners -->
<section class="school" id="banners-section">
  <div class="school__container" id="school__banners">
    <div class="row p-5 m-auto">
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <img class="banner__img mx-auto d-block rounded" src="{% static 'main\img\gosuslugi.webp' %}" alt="Госуслуги"
          loading="lazy">
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <a href="https://www.gosuslugi.ru/600426/1/form"><img class="banner__img mx-auto d-block rounded"
            src="{% static 'main\img\1grade.webp' %}" alt="Запись в первый класс" loading="lazy"></a>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <a href="https://revizorro.onf.ru/">
          <img class="banner__img mx-auto d-block rounded" src="{% static 'main\img\revizorro.webp' %}"
            alt="Народный ревизорро" loading="lazy"></a>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <img class="banner__img mx-auto d-block rounded" src="{% static 'main\img\telefon-doveria.webp' %}"
          alt="Телефон доверия" loading="lazy">
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}