{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- school name -->
<section class="school">
  <div class="school__container" id="school__name">
    <h1 class="text-wrap text-center m-auto p-5">
      Государственное бюджетное общеобразовательное учреждение средняя
      общеобразовательная школа №464 Пушкинского района Санкт-Петербурга
    </h1>
  </div>
</section>

<!-- greeting -->
<section class="school">
  <div class="school__container" id="school__greeting">
    <div class="m-auto" data-aos="fade-up" data-aos-duration="1200">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        Добро пожаловать на обновленный сайт школы №464!
      </h2>
      <p class="h4 p-5 m-auto">
        В нашей школе создано дружное сообщество, включающее учителей, учеников
        и их родителей. Наша главная цель — обеспечить безопасную, комфортную и
        уютную образовательную среду для наших детей.<br><br>Мы постоянно
        стремимся к достижению высоких результатов в учебе и развитию нужных навыков
        наших учеников, которые можно применить в реальной
        жизни.<br><br>Мы уверены, что успех достижим только через
        взаимодействие учащихся, родителей, педагогов и администрации. Мы
        прилагаем усилия, чтобы найти индивидуальный подход к каждому ребенку.
        Не стесняйтесь обращаться и помните, что мы всегда рады вас видеть!
      </p>
      <div class="d-flex p-5">
        <a class="btn m-auto school__button" data-bs-theme="dark" href="/svedeniya-ob-obrazovatelnoj-organizacii/">
          <p class="h4 mb-0" data-fixed-colors>Сведения об образовательной организации</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- headmaster -->
<section class="school">
  <div class="school__container" id="school__headmaster">
    <div class="m-auto" data-aos="fade-up" data-aos-duration="1200">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        <i class="fa-solid fa-user" style="color: var(--bs-white)"></i> Директор школы
        <i class="fa-solid fa-user" style="color: var(--bs-white)"></i>
      </h2>
      <div class="row p-3 m-auto">
        <div class="col-md-5 col-sm-12 d-flex mb-4">
          <img class="m-auto d-block rounded" src="{% static 'main\img\7J6uRpURzDo.webp' %}"
            alt="Теплякова Алина Сергеевна" style="max-width: 300px;" loading="lazy" decoding="async"
            fetchpriority="low">
        </div>
        <div class="col-md-7 col-sm-12 d-flex mb-4">
          <p class="h4 m-auto text-center">
            Теплякова Алина Сергеевна<br><br>
            <i class="fa-solid fa-phone"></i>&nbsp;465-15-55<br>
            <i class="fa-solid fa-envelope"></i>&nbsp;direktor.sch464<wbr>@obr.gov.spb.ru<br>
            <i class="fa-solid fa-clock"></i>&nbsp;Часы приема: <wbr>вторник&nbsp;14:30&#8209;16:00
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- equipment -->
<section class="school">
  <div class="school__container" id="school__equipment">
    <div class="m-auto" data-aos="fade-up" data-aos-duration="1200">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        <i class="fa-sharp fa-solid fa-laptop" style="color: var(--bs-white)"></i>
        Материально-техническое обеспечение
        <i class="fa-sharp fa-solid fa-laptop" style="color: var(--bs-white)"></i>
      </h2>
      <p class="h4 p-5 m-auto">
        В нашей школе создано все для комфортного образовательного процесса. Мы
        активно применяем цифровые технологии, чтобы обогатить учебный процесс и
        обеспечить учащимся современные возможности обучения. Во многих классах
        установлены проекторы, которые позволяют преподавателям создавать
        интерактивные уроки с использованием мультимедийных материалов.<br><br>В
        школе работает библиотека с читальным залом. Общий фонд школьной
        библиотеки составляет 24801 экземпляр, из которых бо́льшую часть
        составляют книги. Книгообеспеченность составляет 27 книг на одного
        учащегося.<br><br>
        На территории школы расположены две оборудованные спортивные площадки с
        искусственным покрытием. В зданиях 2 спортивных зала с раздевалками.<br><br>Оба
        здания школы оборудованы столовыми: в старшей школе на 160 посадочных
        мест, а в младшей на 100. Столовые имеют всё необходимое оборудование,
        имеется буфет.
      </p>
    </div>
  </div>
</section>

<!-- news -->
<section class="school">
  <div class="school__container" id="school__news">
    <div class="m-auto" data-aos="fade-up" data-aos-duration="1200">
      <h2 class="h2 text-wrap text-center m-auto p-5">
        <i class="fa-solid fa-newspaper" style="color: var(--bs-white)"></i> Лента
        новостей
        <i class="fa-solid fa-newspaper" style="color: var(--bs-white)"></i>
      </h2>
      <p class="h4 p-5 m-auto text-center">
        Предлагаем вам ознакомиться с нашей новостной лентой
      </p>
      <div class="d-flex">
        <i class="fa-solid fa-arrow-down-long h1 m-auto"></i>
      </div>
      <div class="d-flex p-5">
        <a class="btn m-auto school__button" href="/news/" data-bs-theme="dark">
          <p class="h4 mb-0" data-fixed-colors>Лента новостей</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- banners -->
<section class="school" id="banners-section">
  <div class="school__container" id="school__banners">
    <div class="row p-5 m-auto" data-aos="fade-up" data-aos-duration="1200">
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <a href="https://revizorro.onf.ru/">
          <img class="banner__img zoom-elem mx-auto d-block rounded" src="{% static 'main\img\revizorro.webp' %}"
            alt="Народный ревизорро" loading="lazy" decoding="async" fetchpriority="low"></a>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <img class="banner__img zoom-elem mx-auto d-block rounded" src="{% static 'main\img\gosuslugi.webp' %}"
          alt="Госуслуги" loading="lazy" decoding="async" fetchpriority="low">
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <a href="https://www.gosuslugi.ru/600426/1/form"><img class="banner__img zoom-elem mx-auto d-block rounded"
            src="{% static 'main\img\1grade.webp' %}" alt="Запись в первый класс" loading="lazy" decoding="async"
            fetchpriority="low"></a>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 text-center">
        <img class="banner__img zoom-elem mx-auto d-block rounded" src="{% static 'main\img\telefon-doveria.webp' %}"
          alt="Телефон доверия" loading="lazy" decoding="async" fetchpriority="low">
      </div>
    </div>
  </div>
</section>
{% endblock %}