{% extends 'main/base.html' %}

{% block content %}
<div class="page-container">
  <header>
    <h2 class="page-header">Результаты поиска по запросу: {{ query }}</h2>
  </header>

  <!-- search field -->
  <form class="d-flex mt-3 mb-5" action="/search/" role="search" method="get">
    <input class="form-control me-2" name="query" type="search" placeholder="Поиск" aria-label="Поиск"
      style="width: 100% !important">
    <button class="btn" type="submit" data-bs-theme="dark"
      style="background-color: var(--main-color-1); color: var(--main-color-2);">
      Поиск
    </button>
  </form>

  <!-- search results -->
  <div class="container-fluid">
    <div class="row">
      <!-- news -->
      {% if search_results.news %}
      <div class="col-xl-6 col-xs-12">
        <header>
          <h4>Новости:</h4>
        </header>
        <article>
          <ul class="list-unstyled text-wrap">
            {% for res in search_results.news %}
            <li class="mb-3">
              <div class="d-flex">
                <a href="/post/{{ res.slug }}/">
                  <h5 class="text-wrap mt-auto mb-auto me-3">{{ res.headline }}</h5>
                </a>
                <p class="post__date ms-auto mt-auto mb-auto">
                  {{ res.date }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </article>
      </div>
      {% endif %}

      <!-- pages -->
      {% if search_results.page %}
      <div class="col-xl-6 col-xs-12">
        <header>
          <h4>Страницы:</h4>
        </header>
        <article>
          <ul class="list-unstyled text-wrap">
            {% for res in search_results.page %}
            <li class="mb-3">
              <a class="text-wrap" href="/{{ res.slug }}/">
                <div class="d-flex">
                  <h5 class="text-wrap mt-auto mb-auto me-3">{{ res.menu_info }}</h5>
                  <i class="fa-solid fa-arrow-right h5 ms-auto mt-auto mb-auto"></i>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </article>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}