name: Lint, Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Ruff linting
        uses: astral-sh/ruff-action@v3
        with:
          args: "check"

      - name: Run Ruff formatting check
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t django:test .

      - name: Pull Postgres images
        run: docker pull postgres:16.10-alpine

      - name: Run tests
        run: |
          docker compose -f ./docker-compose.test.yml up postgres -d
          docker compose -f ./docker-compose.test.yml up --abort-on-container-exit --exit-code-from django django
          docker cp django_test:./app/coverage.xml ./coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          fail_ci_if_error: true
          slug: ${{ github.repository }}
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
