:root {
  --main-color-1: #f5a425;
  --main-color-2: #242c38;
  --main-color-3: #476ca0;
  --vis-imp-1-0: #9dd1ff !important;
  --vis-imp-1-1: #063494 !important;
  --vis-imp-2-0: #f7f3d6 !important;
  --vis-imp-2-1: #9f6843 !important;
  --vis-imp-3-0: #3b2716 !important;
  --vis-imp-3-1: #70c64d !important;
  --news-color: #10182f;
  --date-color: #242c38;
  --footer-color: #152036;
  --error-color: #58151c;
  --error-bg-color: #cf9399;
  --error-bg-color-hover: #8a5359;
}

#logo {
  height: 30px;
  width: 40px;
}

.basic-btn {
  background-color: var(--main-color-1) !important;
  color: var(--main-color-2) !important;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  color: var(--main-color-1) !important;
}

.navbar-elem {
  color: var(--bs-white) !important;
}

.navbar-elem:hover {
  color: var(--main-color-1) !important;
}

.zoom-elem {
  transition: all 0.4s ease !important;
}

.zoom-elem:hover {
  transform: scale(1.1)
}

.btn-close {
  background-color: var(--main-color-1) !important;
  color: var(--main-color-2) !important;
  transition: all 0.4s ease;
}

.btn-close:hover {
  transform: scale(1.1)
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  transform: scale(1.5);
}

.submenu {
  background-color: var(--main-color-2) !important;
  border-color: var(--main-color-1) !important;
}

.submenu-item {
  background-color: var(--main-color-2) !important;
}

#btn-back-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

a {
  text-decoration: none !important;
  color: var(--main-color-3) !important;
}

a:hover {
  text-decoration: none;
  color: var(--main-color-1) !important;
}

#error-link {
  color: var(--error-color) !important;
  background-color: var(--error-bg-color) !important;
  transition: all 0.4s ease !important;
}

#error-link:hover {
  color: var(--bs-white) !important;
  background-color: var(--error-bg-color-hover) !important;
  transform: scale(1.05)
}

.school {
  display: flex;
  min-height: 100vh;
  height: auto;
}

.school__container {
  display: flex;
  width: 100%;
  color: var(--bs-white);
  overflow-y: hidden;
}

#school__name {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/static/main/img/7XexEA35vjw.webp");
}

#school__headmaster {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/static/main/img/LuD05L-0pQ4.webp");
}

#school__news {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/static/main/img/oupakcNE4c8.webp");
}

#school__greeting,
#school__equipment,
#school__banners {
  background-image: url("/static/main/img/choosing-bg.webp");
}

#banners-section {
  min-height: auto;
}

#school__name,
#school__headmaster,
#school__news {
  background-size: cover;
  background-position: center;
}

.banner__img {
  max-width: 250px;
  margin: auto;
  margin-bottom: 40px;
}

.school__button {
  color: var(--bs-black) !important;
  background-color: var(--main-color-1) !important;
  transition: all 0.4s ease !important;
}

.school__button:hover {
  color: var(--bs-white) !important;
  background-color: var(--main-color-3) !important;
  transform: scale(1.1)
}

.page-header {
  text-align: center;
  margin-bottom: 15px;
}

.post__content {
  padding: 10px;
  overflow: auto;
}

.post__content img {
  max-width: 100%;
}

.post__photo-container {
  position: relative;
}

.post__photo-container img {
  max-height: 300px;
  object-fit: cover;
  filter: brightness(60%);
}

.post__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-white);
  text-align: center;
  z-index: 2;
}

.news-container {
  display: flex;
  margin: 0;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: var(--news-color);
  flex-wrap: wrap;
}

.news__post {
  margin: 10px;
  width: 300px;
  max-height: 458px;
  background-color: var(--bs-white);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.4s ease;
}

.news__post:hover {
  transform: scale(1.05)
}

.news__header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news__body {
  display: flex;
  padding: 20px;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
}

.news__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 260px;
}

.post__date,
.news__date {
  min-width: 106px;
  color: var(--date-color);
  opacity: 0.6;
}

.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-container img {
  max-width: 100%;
  border-radius: 10px;
}

.footer {
  padding: 15px 30px 10px;
  color: var(--bs-white);
  flex-shrink: 0;
  background-color: var(--footer-color);
  background-image: url("/static/main/img/choosing-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1280px) {
  .content {
    padding: 40px 200px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .content {
    padding: 32px 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding: 24px 100px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 12px 50px;
  }
}

@media (max-width: 550px) {
  .navbar-toggler {
    order: 1;
  }

  .nav-elems {
    width: 100vh;
    margin-top: 0.5rem;
    order: 2;
  }

  .nav-icon {
    margin: auto;
  }
}